### Homework Chapter 1

Source  : https://github.com/DataTalksClub/mlops-zoomcamp/blob/main/01-intro/homework.md

In [1]:
fhv_tripdata_2021-01

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-1-3379c5c80c97>, line 1)

In [6]:
import pandas as pd
dfjan = pd.read_parquet('fhv_tripdata_2021-01.parquet', engine='pyarrow')
dffeb = pd.read_parquet('fhv_tripdata_2021-02.parquet', engine='pyarrow')

#### Q1

In [7]:
len(dfjan)

1154112

#### Q2

In [11]:
dfjan['duration'] = (dfjan['dropOff_datetime'] - dfjan['pickup_datetime'])
dfjan['duration'].mean()

Timedelta('0 days 00:19:10.033445627')

#### Q3

In [18]:
dfjan.to_timedelta().astype('timedelta64[m]').astype(int)

AttributeError: 'DataFrame' object has no attribute 'to_timedelta'