### Homework Chapter 1

Source  : https://github.com/DataTalksClub/mlops-zoomcamp/blob/main/01-intro/homework.md

In [1]:
fhv_tripdata_2021-01

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-1-3379c5c80c97>, line 1)

In [6]:
import pandas as pd
dfjan = pd.read_parquet('fhv_tripdata_2021-01.parquet', engine='pyarrow')
dffeb = pd.read_parquet('fhv_tripdata_2021-02.parquet', engine='pyarrow')

#### Q1

In [7]:
len(dfjan)

1154112

#### Q2

In [11]:
dfjan['duration'] = (dfjan['dropOff_datetime'] - dfjan['pickup_datetime'])
dfjan['duration'].mean()

Timedelta('0 days 00:19:10.033445627')

#### Q3

In [21]:
dfjan['duration_in_min'] = pd.to_timedelta(dfjan['duration']).astype('timedelta64[m]').astype(int)

In [31]:
undrop = len(dfjan[(dfjan['duration_in_min'] >= 1) & (dfjan['duration_in_min'] <= 60)])

In [32]:
len(dfjan) - undrop

43239

In [39]:
dfjan[dfjan.PUlocationID.isnull()]

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number,duration,duration_in_min
0,B00009,2021-01-01 00:27:00,2021-01-01 00:44:00,NaN,NaN,None,B00009,0 days 00:17:00,17
1,B00009,2021-01-01 00:50:00,2021-01-01 01:07:00,NaN,NaN,None,B00009,0 days 00:17:00,17
2,B00013,2021-01-01 00:01:00,2021-01-01 01:51:00,NaN,NaN,None,B00013,0 days 01:50:00,110
3,B00037,2021-01-01 00:13:09,2021-01-01 00:21:26,NaN,72.0,None,B00037,0 days 00:08:17,8
4,B00037,2021-01-01 00:38:31,2021-01-01 00:53:44,NaN,61.0,None,B00037,0 days 00:15:13,15
...,...,...,...,...,...,...,...,...,...
1154094,B03202,2021-01-31 23:57:02,2021-02-01 00:14:27,NaN,177.0,None,B03202,0 days 00:17:25,17
1154096,B03239,2021-01-31 23:07:00,2021-01-31 23:17:28,NaN,70.0,None,B03239,0 days 00:10:28,10
1154097,B03239,2021-01-31 23:27:39,2021-01-31 23:33:38,NaN,82.0,None,B03239,0 days 00:05:59,5
1154098,B03239,2021-01-31 23:40:10,2021-01-31 23:52:07,NaN,56.0,None,B03239,0 days 00:11:57,11
1154111,B03321,2021-01-31 23:39:00,2021-02-01 00:15:00,NaN,NaN,None,B03321,0 days 00:36:00,36

In [43]:
dfjan['PUlocationID'] = dfjan['PUlocationID'].fillna(-1)
dfjan['DOlocationID'] = dfjan['DOlocationID'].fillna(-1)

In [41]:
dfjan[dfjan.PUlocationID.isnull()]

Empty DataFrame
Columns: [dispatching_base_num, pickup_datetime, dropOff_datetime, PUlocationID, DOlocationID, SR_Flag, Affiliated_base_number, duration, duration_in_min]
Index: []

In [42]:
dfjan[dfjan.PUlocationID == -1]

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number,duration,duration_in_min
0,B00009,2021-01-01 00:27:00,2021-01-01 00:44:00,-1.0,NaN,None,B00009,0 days 00:17:00,17
1,B00009,2021-01-01 00:50:00,2021-01-01 01:07:00,-1.0,NaN,None,B00009,0 days 00:17:00,17
2,B00013,2021-01-01 00:01:00,2021-01-01 01:51:00,-1.0,NaN,None,B00013,0 days 01:50:00,110
3,B00037,2021-01-01 00:13:09,2021-01-01 00:21:26,-1.0,72.0,None,B00037,0 days 00:08:17,8
4,B00037,2021-01-01 00:38:31,2021-01-01 00:53:44,-1.0,61.0,None,B00037,0 days 00:15:13,15
...,...,...,...,...,...,...,...,...,...
1154094,B03202,2021-01-31 23:57:02,2021-02-01 00:14:27,-1.0,177.0,None,B03202,0 days 00:17:25,17
1154096,B03239,2021-01-31 23:07:00,2021-01-31 23:17:28,-1.0,70.0,None,B03239,0 days 00:10:28,10
1154097,B03239,2021-01-31 23:27:39,2021-01-31 23:33:38,-1.0,82.0,None,B03239,0 days 00:05:59,5
1154098,B03239,2021-01-31 23:40:10,2021-01-31 23:52:07,-1.0,56.0,None,B03239,0 days 00:11:57,11
1154111,B03321,2021-01-31 23:39:00,2021-02-01 00:15:00,-1.0,NaN,None,B03321,0 days 00:36:00,36

In [45]:
null_loc = len(dfjan[(dfjan['PUlocationID'] == -1) | (dfjan['DOlocationID'] == -1)])

In [46]:
null_loc / len(dfjan)*100

84.02200133089336

### Q4

In [47]:
dfjan['PUlocationID'].nunique()

262

In [48]:
dfjan['DOlocationID'].nunique()

263

In [49]:
dfsel = dfjan[(dfjan['duration_in_min'] >= 1) & (dfjan['duration_in_min'] <= 60)].copy()

In [50]:
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge

from sklearn.metrics import mean_squared_error

In [56]:
dfsel

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number,duration,duration_in_min
0,B00009,2021-01-01 00:27:00,2021-01-01 00:44:00,-1.0,-1.0,None,B00009,0 days 00:17:00,17
1,B00009,2021-01-01 00:50:00,2021-01-01 01:07:00,-1.0,-1.0,None,B00009,0 days 00:17:00,17
3,B00037,2021-01-01 00:13:09,2021-01-01 00:21:26,-1.0,72.0,None,B00037,0 days 00:08:17,8
4,B00037,2021-01-01 00:38:31,2021-01-01 00:53:44,-1.0,61.0,None,B00037,0 days 00:15:13,15
5,B00037,2021-01-01 00:59:02,2021-01-01 01:08:05,-1.0,71.0,None,B00037,0 days 00:09:03,9
...,...,...,...,...,...,...,...,...,...
1154107,B03266,2021-01-31 23:43:03,2021-01-31 23:51:48,7.0,7.0,None,B03266,0 days 00:08:45,8
1154108,B03284,2021-01-31 23:50:27,2021-02-01 00:48:03,44.0,91.0,None,,0 days 00:57:36,57
1154109,B03285,2021-01-31 23:13:46,2021-01-31 23:29:58,171.0,171.0,None,B03285,0 days 00:16:12,16
1154110,B03285,2021-01-31 23:58:03,2021-02-01 00:17:29,15.0,15.0,None,B03285,0 days 00:19:26,19
1154111,B03321,2021-01-31 23:39:00,2021-02-01 00:15:00,-1.0,-1.0,None,B03321,0 days 00:36:00,36

In [129]:
dfsel[['PUlocationID', 'DOlocationID']] = dfsel[['PUlocationID', 'DOlocationID']].astype(str)
train_dicts = dfsel[['PUlocationID', 'DOlocationID']].to_dict(orient='records')

In [138]:
dv = DictVectorizer()
X_train = dv.fit_transform(train_dicts)

target = 'duration_in_min'
y_train = dfsel[target].values

In [131]:
(X_train).shape

(1110873, 525)

#### Q5

In [132]:
lr = LinearRegression()
lr.fit(X_train, y_train)

y_pred = lr.predict(X_train)

mean_squared_error(y_train, y_pred, squared=False)

10.59522184516937

#### Q6

In [139]:
dffeb['duration'] = (dffeb['dropOff_datetime'] - dffeb['pickup_datetime'])
dffeb['duration_in_min'] = pd.to_timedelta(dffeb['duration']).astype('timedelta64[m]').astype(int)
dffeb['PUlocationID'] = dffeb['PUlocationID'].fillna(-1)
dffeb['DOlocationID'] = dffeb['DOlocationID'].fillna(-1)
dfsel_2 = dffeb[(dffeb['duration_in_min'] >= 1) & (dffeb['duration_in_min'] <= 60)].copy()
dfsel_2[['PUlocationID', 'DOlocationID']] = dfsel_2[['PUlocationID', 'DOlocationID']].astype(str)

new_dict = dfsel_2[['PUlocationID', 'DOlocationID']].to_dict(orient='records')
X_train = dv.transform(new_dict)
y_train = dfsel_2[target].values

In [140]:
len(new_dict)

991321

In [141]:
len(dfsel_2)

991321

In [142]:
len(y_train)

991321

In [143]:
y_pred2 = lr.predict(X_train)
mean_squared_error(y_train, y_pred2, squared=False)

11.094660112142382

In [144]:
X_train[0]

<1x525 sparse matrix of type '<class 'numpy.float64'>'
	with 2 stored elements in Compressed Sparse Row format>